{{- /* SEO: description, Open Graph, Twitter cards, canonical, hreflang, JSON-LD */ -}}
{{- $isPost := .IsPage -}}
{{- $title := cond .IsHome .Site.Title .Title -}}
{{- $desc := cond .IsHome .Site.Params.description .Description -}}
{{- $img := "" -}}
{{- with .Params.featured_image -}}
  {{- $img = . | absURL -}}
{{- else -}}
  {{- $img = "/avatar.jpg" | absURL -}}
{{- end -}}
{{- $ogLocale := replace .Site.Language.Locale "-" "_" -}}

<meta name="description" content="{{ $desc }}" />
<link rel="canonical" href="{{ .Permalink }}" />
{{- range .AllTranslations }}
<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" />
{{- end }}
{{- range .AllTranslations }}{{ if eq .Language.Lang "en" }}
<link rel="alternate" hreflang="x-default" href="{{ .Permalink }}" />
{{- end }}{{ end }}

<meta property="og:title" content="{{ $title }}" />
<meta property="og:description" content="{{ $desc }}" />
<meta property="og:type" content="{{ cond $isPost "article" "website" }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="{{ .Site.Params.author | default .Site.Title }}" />
<meta property="og:locale" content="{{ $ogLocale }}" />
<meta property="og:image" content="{{ $img }}" />
{{- if $isPost }}
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" />
<meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}" />
{{- end }}

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ $title }}" />
<meta name="twitter:description" content="{{ $desc }}" />
<meta name="twitter:image" content="{{ $img }}" />

{{- if $isPost -}}
{{- $author := .Site.Params.author | default "Denis Vdovin" -}}
{{- $ld := dict
  "@context" "https://schema.org"
  "@type" "BlogPosting"
  "headline" .Title
  "description" $desc
  "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
  "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
  "url" .Permalink
  "mainEntityOfPage" .Permalink
  "image" $img
  "inLanguage" .Site.Language.Lang
  "author" (dict "@type" "Person" "name" $author "url" "https://github.com/denisotree")
  "publisher" (dict "@type" "Person" "name" $author)
-}}
{{ printf `<script type="application/ld+json">%s</script>` ($ld | jsonify) | safeHTML }}
{{- end -}}
